*

!.gitignore

!*/

!*.md
!*.sh

!CMakeLists.txt
!*.cmake

!*.cpp
!*.hpp

!*.ui
!*.qrc
!*.svg
!*.png
!*.conf

!bin/*.txt

tmp
libs

# cmake craps everywhere
CMakeFiles/
cmake_install.cmake
**/*_autogen/*
qtcsettings.cmake
